{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h5 {
            
            float: left;
            width: 50px;
            text-align: center;
            border: 1px solid white;
            padding: 20px;
            margin: 2px;

}
h5:hover {
  background-color: rgb(168, 150, 220);
  
}
h2{
    width: auto;
    text-align: center;
    border: 1px solid white;
}

    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RJ Cinema</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.10.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="" class="scrollto"><img src="{% static 'assets/img/logo.png' %}" alt="" title=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <li><a class="nav-link scrollto" href="#speakers">Cast</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="buy-tickets scrollto" href="#about">Book Now</a>
      <a class="buy-tickets scrollto" href="/buy">Buy Tickets</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">LIVE NOW<br><span>BOOK YOUR</span> SHOW NOW</h1>
      <p class="mb-4 pb-0">Enjoy Weekends - RJ Cinemas, Main Road, Shirpur</p>
      <a href="{% static 'https://youtu.be/vqu4z34wENw' %}" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">Pathaan : Book Now</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main"><!--main-->
    

    <section id="about">
      
        <div class="container" data-aos="fade-up">
          <div class="col-md-12">
            <a href="{% static 'assets/img/hero-bg1.jpg' %}" class="glightbox" data-gall="venue-gallery">
              <img src="{% static 'assets/img/hero-bg1.jpg' %}" alt="" class="img-fluid" width="100%">
            </a>
          </div>
          <hr>
            <div class="row">
                
                  <div class="col-lg-6 col-md-12">
                    <h4 style="float: left; color: rgb(232, 215, 215);">A</h5>
                    <h5 style="color: rgb(153, 229, 236);">1</h5>
                    <h5 style="color: rgb(153, 229, 236);">2</h5>
                    <h5 style="color: rgb(153, 229, 236);">3</h5>
                    <h5 style="color: rgb(153, 229, 236);">4</h5>
                    <h5 style="color: rgb(153, 229, 236);">5</h5>
                    <h5 style="color: rgb(153, 229, 236);">6</h5>
                    <h5 style="color: rgb(153, 229, 236);">7</h5>
                    <h5 style="color: rgb(153, 229, 236);">8</h5>
                    <h5 style="color: rgb(153, 229, 236);">9</h5>
                    <h5 style="color: rgb(153, 229, 236);">10</h5>
                    <h5 style="color: rgb(153, 229, 236);">11</h5>                    
                                       
                    
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <h5 style="color: rgb(153, 229, 236);">12</h5>
                    <h5 style="color: rgb(153, 229, 236);">13</h5>
                    <h5 style="color: rgb(153, 229, 236);">14</h5>
                    <h5 style="color: rgb(153, 229, 236);">15</h5>
                    <h5 style="color: rgb(153, 229, 236);">16</h5>
                    <h5 style="color: rgb(153, 229, 236);">17</h5>
                    <h5 style="color: rgb(153, 229, 236);">18</h5>
                    <h5 style="color: rgb(153, 229, 236);">19</h5>
                    <h5 style="color: rgb(153, 229, 236);">20</h5>
                    <h5 style="color: rgb(153, 229, 236);">21</h5>
                    <h5 style="color: rgb(153, 229, 236);">22</h5>
                    
                  </div>
            </div>
            <div class="row">
                
                <div class="col-lg-6 col-md-12">
                  <h4 style="float: left; color: rgb(232, 215, 215);">B</h5>
                  <h5 style="color: rgb(153, 229, 236);">1</h5>
                  <h5 style="color: rgb(153, 229, 236);">2</h5>
                  <h5 style="color: rgb(153, 229, 236);">3</h5>
                  <h5 style="color: rgb(153, 229, 236);">4</h5>
                  <h5 style="color: rgb(153, 229, 236);">5</h5>
                  <h5 style="color: rgb(153, 229, 236);">6</h5>
                  <h5 style="color: rgb(153, 229, 236);">7</h5>
                  <h5 style="color: rgb(153, 229, 236);">8</h5>
                  <h5 style="color: rgb(153, 229, 236);">9</h5>
                  <h5 style="color: rgb(153, 229, 236);">10</h5>
                  <h5 style="color: rgb(153, 229, 236);">11</h5>                    
                                     
                  
                </div>
                <div class="col-lg-6 col-md-12">
                  <h5 style="color: rgb(153, 229, 236);">12</h5>
                  <h5 style="color: rgb(153, 229, 236);">13</h5>
                  <h5 style="color: rgb(153, 229, 236);">14</h5>
                  <h5 style="color: rgb(153, 229, 236);">15</h5>
                  <h5 style="color: rgb(153, 229, 236);">16</h5>
                  <h5 style="color: rgb(153, 229, 236);">17</h5>
                  <h5 style="color: rgb(153, 229, 236);">18</h5>
                  <h5 style="color: rgb(153, 229, 236);">19</h5>
                  <h5 style="color: rgb(153, 229, 236);">20</h5>
                  <h5 style="color: rgb(153, 229, 236);">21</h5>
                  <h5 style="color: rgb(153, 229, 236);">22</h5>
                  
                </div>
            </div>
            <div class="row">
                
            <div class="col-lg-6 col-md-12">
              <h4 style="float: left; color: rgb(232, 215, 215);">C</h5>
              <h5 style="color: rgb(153, 229, 236);">1</h5>
              <h5 style="color: rgb(153, 229, 236);">2</h5>
              <h5 style="color: rgb(153, 229, 236);">3</h5>
              <h5 style="color: rgb(153, 229, 236);">4</h5>
              <h5 style="color: rgb(153, 229, 236);">5</h5>
              <h5 style="color: rgb(153, 229, 236);">6</h5>
              <h5 style="color: rgb(153, 229, 236);">7</h5>
              <h5 style="color: rgb(153, 229, 236);">8</h5>
              <h5 style="color: rgb(153, 229, 236);">9</h5>
              <h5 style="color: rgb(153, 229, 236);">10</h5>
              <h5 style="color: rgb(153, 229, 236);">11</h5>                    
                                 
              
            </div>
            <div class="col-lg-6 col-md-12">
              <h5 style="color: rgb(153, 229, 236);">12</h5>
              <h5 style="color: rgb(153, 229, 236);">13</h5>
              <h5 style="color: rgb(153, 229, 236);">14</h5>
              <h5 style="color: rgb(153, 229, 236);">15</h5>
              <h5 style="color: rgb(153, 229, 236);">16</h5>
              <h5 style="color: rgb(153, 229, 236);">17</h5>
              <h5 style="color: rgb(153, 229, 236);">18</h5>
              <h5 style="color: rgb(153, 229, 236);">19</h5>
              <h5 style="color: rgb(153, 229, 236);">20</h5>
              <h5 style="color: rgb(153, 229, 236);">21</h5>
              <h5 style="color: rgb(153, 229, 236);">22</h5>
              
            </div>
      </div>
      <div class="row">
                
        <div class="col-lg-6 col-md-12">
          <h4 style="float: left; color: rgb(232, 215, 215);">D</h5>
          <h5 style="color: rgb(153, 229, 236);">1</h5>
          <h5 style="color: rgb(153, 229, 236);">2</h5>
          <h5 style="color: rgb(153, 229, 236);">3</h5>
          <h5 style="color: rgb(153, 229, 236);">4</h5>
          <h5 style="color: rgb(153, 229, 236);">5</h5>
          <h5 style="color: rgb(153, 229, 236);">6</h5>
          <h5 style="color: rgb(153, 229, 236);">7</h5>
          <h5 style="color: rgb(153, 229, 236);">8</h5>
          <h5 style="color: rgb(153, 229, 236);">9</h5>
          <h5 style="color: rgb(153, 229, 236);">10</h5>
          <h5 style="color: rgb(153, 229, 236);">11</h5>                    
                             
          
        </div>
        <div class="col-lg-6 col-md-12">
          <h5 style="color: rgb(153, 229, 236);">12</h5>
          <h5 style="color: rgb(153, 229, 236);">13</h5>
          <h5 style="color: rgb(153, 229, 236);">14</h5>
          <h5 style="color: rgb(153, 229, 236);">15</h5>
          <h5 style="color: rgb(153, 229, 236);">16</h5>
          <h5 style="color: rgb(153, 229, 236);">17</h5>
          <h5 style="color: rgb(153, 229, 236);">18</h5>
          <h5 style="color: rgb(153, 229, 236);">19</h5>
          <h5 style="color: rgb(153, 229, 236);">20</h5>
          <h5 style="color: rgb(153, 229, 236);">21</h5>
          <h5 style="color: rgb(153, 229, 236);">22</h5>
          
        </div>
        </div>
        <div class="row">
                
            <div class="col-lg-6 col-md-12">
              <h4 style="float: left; color: rgb(232, 215, 215);">E</h5>
              <h5 style="color: rgb(153, 229, 236);">1</h5>
              <h5 style="color: rgb(153, 229, 236);">2</h5>
              <h5 style="color: rgb(153, 229, 236);">3</h5>
              <h5 style="color: rgb(153, 229, 236);">4</h5>
              <h5 style="color: rgb(153, 229, 236);">5</h5>
              <h5 style="color: rgb(153, 229, 236);">6</h5>
              <h5 style="color: rgb(153, 229, 236);">7</h5>
              <h5 style="color: rgb(153, 229, 236);">8</h5>
              <h5 style="color: rgb(153, 229, 236);">9</h5>
              <h5 style="color: rgb(153, 229, 236);">10</h5>
              <h5 style="color: rgb(153, 229, 236);">11</h5>                    
                                 
              
            </div>
            <div class="col-lg-6 col-md-12">
              <h5 style="color: rgb(153, 229, 236);">12</h5>
              <h5 style="color: rgb(153, 229, 236);">13</h5>
              <h5 style="color: rgb(153, 229, 236);">14</h5>
              <h5 style="color: rgb(153, 229, 236);">15</h5>
              <h5 style="color: rgb(153, 229, 236);">16</h5>
              <h5 style="color: rgb(153, 229, 236);">17</h5>
              <h5 style="color: rgb(153, 229, 236);">18</h5>
              <h5 style="color: rgb(153, 229, 236);">19</h5>
              <h5 style="color: rgb(153, 229, 236);">20</h5>
              <h5 style="color: rgb(153, 229, 236);">21</h5>
              <h5 style="color: rgb(153, 229, 236);">22</h5>
              
            </div>
      </div>
      <div class="row">
                
        <div class="col-lg-6 col-md-12">
          <h4 style="float: left; color: rgb(232, 215, 215);">F</h5>
          <h5 style="color: rgb(153, 229, 236);">1</h5>
          <h5 style="color: rgb(153, 229, 236);">2</h5>
          <h5 style="color: rgb(153, 229, 236);">3</h5>
          <h5 style="color: rgb(153, 229, 236);">4</h5>
          <h5 style="color: rgb(153, 229, 236);">5</h5>
          <h5 style="color: rgb(153, 229, 236);">6</h5>
          <h5 style="color: rgb(153, 229, 236);">7</h5>
          <h5 style="color: rgb(153, 229, 236);">8</h5>
          <h5 style="color: rgb(153, 229, 236);">9</h5>
          <h5 style="color: rgb(153, 229, 236);">10</h5>
          <h5 style="color: rgb(153, 229, 236);">11</h5>                    
                             
          
        </div>
        <div class="col-lg-6 col-md-12">
          <h5 style="color: rgb(153, 229, 236);">12</h5>
          <h5 style="color: rgb(153, 229, 236);">13</h5>
          <h5 style="color: rgb(153, 229, 236);">14</h5>
          <h5 style="color: rgb(153, 229, 236);">15</h5>
          <h5 style="color: rgb(153, 229, 236);">16</h5>
          <h5 style="color: rgb(153, 229, 236);">17</h5>
          <h5 style="color: rgb(153, 229, 236);">18</h5>
          <h5 style="color: rgb(153, 229, 236);">19</h5>
          <h5 style="color: rgb(153, 229, 236);">20</h5>
          <h5 style="color: rgb(153, 229, 236);">21</h5>
          <h5 style="color: rgb(153, 229, 236);">22</h5>
          
        </div>
  </div>
  <br>
  <br>
  <br>
        <div>
            <h2>All eyes this way please!</h2>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto my-5">

              <form method="POST" action="">
                 {% csrf_token %}

                 

                  <div class="mb-3">
                      <label for="titleid" class="form-label">Name: </label>
                      <input type="text" class="form-control" name="name" id="titleid" placeholder="Enter Name">
                  </div><!--Title end-->
  
                  <div class="mb-3">
                      <label for="sdetid" class="form-label">Mobile Number: </label>
                      <input type="text" class="form-control" name="mobile_num" id="sdetid" placeholder="Enter Mobile Number">
                  </div><!--Small description end-->

                  <div class="mb-3">
                    <label for="seatt" class="form-label">Show Time: </label>
                      <select class="form-select" id="seatt" name="show_time" aria-label="Default select example">
                          <option>Select Show Time</option>
                          <option value="12:00 PM">12:00 PM</option>
                          <option value="03:00 PM"> 03:00 PM</option>
                          <option value="09:30 PM"> 09:30 PM</option>
                          
                      </select><!--Category end-->
                      
                  </div>

                  <div class="mb-3">
                    <label for="seatt" class="form-label">Seat Number: </label>
                      <select class="form-select" id="seatt" name="seat_cat" aria-label="Default select example">
                          <option>Select Seat Category</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                          <option value="D">D</option>
                          <option value="E">E</option>
                          <option value="F">F</option>
                      </select><!--Category end-->
                      
                  </div>
                  <div class="mb-3">
                    <select class="form-select" name="seat_num" aria-label="Default select example">
                        <option>Select Seat Number</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                    </select><!--Category end-->
                    
                </div>

              
                  <div class="mb-3">
                      
                      <a href=""><button type="submit" class="btn btn-warning" >Book</button></a>


                  </div>
  
  
              </form><!--form end-->

          </div><!--div for form end-->
          
      </div>

            
        </div>
      </section>
      <!-- ======= Cast Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>CAST</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'assets/img/cast/Shah Rukh Khan.jpg' %}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="{% static 'speaker-details.html' %}">Shah Rukh Khan</a></h3>
                <p>as Pathaan</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/cast/JohnAbraham.jpg' %}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="{% static 'speaker-details.html' %}">John Abraham</a></h3>
                <p>as Jim</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'assets/img/cast/Deepika Padukone.jpg' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="{% static 'speaker-details.html' %}">Deepika Padukone</a></h3>
                <p>as Rubina Mohsin</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'assets/img/cast/Dimple Kapadia.png' %}" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="{% static 'speaker-details.html' %}">Dimple Kapadia</a></h3>
                <p>as Nandini</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/cast/Ashutosh Rana.png' %}" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="{% static 'speaker-details.html' %}">Ashutosh Rana</a></h3>
                <p>as Colonel Luthra</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'assets/img/cast/prakash belawadi.jpg' %}" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="{% static 'speaker-details.html' %}">Prakash Belawadi</a></h3>
                <p>as Dr. Shahani</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End cast Section -->
      

  </main><!--main close-->


  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <img src="{% static 'assets/img/logo.png' %}" alt="TheEvenet">
            <p>RJ Cinemas, Main Road, Shirpur</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/home">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              RJ Cinemas, Main Road, Shirpur<br>
              <strong>Phone:</strong> +91 9158332368<br>
              <strong>Email:</strong> RJ.cinema@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-whatsapp"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>RJ Cinema</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="{% static 'https://bootstrapmade.com/' %}">Jayesh Rajput</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>